[submodule "graypaper"]
	path = graypaper
	url = https://github.com/gavofyork/graypaper
[submodule "jamtestvectors"]
	path = jamtestvectors
	url = https://github.com/w3f/jamtestvectors
[submodule "modules/crypto/native/ark-vrf"]
	path = modules/crypto/native/ark-vrf
	url = https://github.com/davxy/ark-vrf
