[submodule "graypaper"]
	path = graypaper
	url = https://github.com/gavofyork/graypaper
[submodule "jamtestvectors"]
	path = jamtestvectors
	url = https://github.com/w3f/jamtestvectors
[submodule "jam-vrfs/ark-ec-vrfs"]
	path = jam-vrfs/ark-ec-vrfs
	url = https://github.com/davxy/ark-vrf
